UMI:  #required, can be a matrix rds or a h5ad file
meta: #required, can be a cell annotation data.frame rds or a h5ad file
output: strOutput
DBname: cellxgeneVIP
parallel: slurm # False or "sge" or "slurm"
memory: 16G
newProcess: False #False use existing DEG results
jobID: initJob #an unique identifier across all YOUR parallel jobs

DEG_desp: initDEG #required for DEG analysis
NAstring: [] #provide a list of strings which should be considered NA and associated cells to be removed
DEG_pipeline_version: v1 #v1: implemented Sept, 2023, include NEBULA and DESeq2 for pseudo bulk
# Please be causion of changing the following default filtering
# More details can be found: section 2.4 in https://pubmed.ncbi.nlm.nih.gov/35743881/
# Apply the 2nd round of biostats filtering.  For "group" mode, the filtering is applied to `ref_group` and `alt_group` for the given cell type of interest.
R6_min.genes.per.cell: 250 # keep cells with expression in at least min.genes.per.cell genes.
R6_min.cells.per.gene: 3 #minimum cells expressed per gene.  This filter is applied if it is larger than 0
R6_min.perc.cells.per.gene: 0.1 # minimum % cells expressed per gene filtering (use decimal form of percentage).  This threshold is applied if it is between 0 and 1
R6_min.cells.per.gene.type: "or" #The type of cell per gene filtering.  If it has the value "and" then it requires the gene be expressed in both reference and non-reference groups. If it has the value "or" then it requires the gene be expressed in either group
R6_perc_threshold: 0.75 #Percentile threshold, 75th percentile is default.  Express percentile as a decimal value. If it is 1, no percentile filtering
R6_perc.filter.type: "and" #The type of percentile gene filtering.  If it has the value "and" then any gene that has 75th percentile of zero in both groups will be filtered out.  If it has the value "or" then any gene that has a 75th percentile of zero in either group will be filtered out.
R6_min.ave.pseudo.bulk.cpm: 1 #cpm filtering threshold
R6_min.cells.per.subj: 3 #Minimum cells required per subject, must be a nonzero number, used when pseudo bulk needed for DESeq2

# the following are paramenters needed for C-SIDE
## in comparison definition table
## comparisonName: the name of the comparison, which is unique for each comparison
## sample: the slice column header
## cluster: cell types seperated by ',' from cell type annotation below, DEG will applied on those listed (empty, all cell types in the column)
## group: header of annotation of biological spots
## alt: the alternative interested biological spot annotation (comparing to ref)
## ref: the refrence interested biological spot annotation
## covars: #not used
## method: CSIDE
## model: # not used
cside_strRef:  #the h5ad contains UMI and cell type annotation
cside_ct_col:  #the cell type column in above .obs, this columns has to match the c2l/tg annotation columns if their weights are used
cside_ct_N: 500 #the number of cells downsampleing for each cell type
cside_grp_col:  #the column header of slice/sample group information for 'group_ids' in 'create.RCTD.replicates'
cside_wt: c2l # type of cell type weights (<empty>, c2l, tg). <empty>: using RCTD weights from above reference; c2l: using cell2location weights; tg: using tangram weights
cside_ct_count: 0 # cell type count threshold
cside_weight_threshold: 0 #Minimal sum of cell type weight in spots
cside_gene_threshold: 5e-5 #Minimal expression of genes
cside_log_fc: 0.4 # Log fold change threshold for population inference
cside_fdr: 0.05 #


